/* General */
/* @import url("/blocks/page/page.css"); */
@import url("/vendor/normalize.css");
@import url("/vendor/fonts/stylesheet.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Header */
/* @import url('/blocks/header/__logo/header__logo.css'); */

/* Hero */
/* @import url("/blocks/hero/hero.css"); */

:root {
  --green-1: #a8ff35;
  --green-2: #87d322;
  --green-3: #8cc83a;

  /* Black */
  --black-1: #000000;
  --black-2: #2b2b2b;

  /* Grey */
  --grey-1: #8b8b8b;
  --grey-2: #adadad;
  --grey-3: #f5f5f5;
  --grey-4: #f1f1f1;

  /* White */
  --white: #ffffff;

  --delta: 150px;
}

body {
  background-color: var(--white);
  color: var(--white);
  font-family: "Effra", sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;

  box-sizing: border-box;
}

/* Header */

.header {
  margin-top: 30px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;

  font-size: 18px;
}

.header__list a {
  transition: opacity 0.3s ease;
}

.header__list a:hover {
  opacity: 0.7;
}

.header__list a.active {
  opacity: 0.7;
  color: var(--green-1);
}

.header__logo {
  width: 171px;
}

.header__buttons-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 40px;
}

.header__button {
  transition: all 0.3s ease;
}

.header__button:hover {
  opacity: 0.7;
}

.header__button-border {
  color: var(--black-1);

  padding: 12px 32px;
  background-color: var(--white);
  border-radius: 40px;
  border: 1px transparent solid;

  transition: all 0.3s ease;
}

.header__button-border:hover {
  background-color: transparent;
  border: 1px var(--white) solid;

  color: var(--white);
}

/* Hero */
.hero {
  background-image: url("/assets/Bg-hero/website.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  margin-top: -292px;
  padding-bottom: 140px;
  padding-top: 292px;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero__wrapper {
  max-width: 700px;
  text-align: center;
}

.hero__title {
  font-size: 72px;
  margin-top: 150px;
}

.hero__desc {
  color: var(--grey-1);
}

.hero__get-started {
  margin-top: 56px;
}

.hero__get-started-button {
  color: var(--black-1);
  font-weight: 700;

  padding: 16px 32px;

  background-color: var(--green-1);
  border-radius: 40px;

  transition: all 0.3s ease;
}

.hero__get-started-button:hover {
  background-color: transparent;
  border: 1px #ff7c02 solid;

  color: var(--white);
}

.hero__tabs {
  margin-top: 95px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: -50px;
}

.hero__tab {
  max-width: 350px;
  position: relative;
}

.hero__tab:nth-child(1) {
  transform: rotate(-4deg);
  z-index: 3;
  margin-right: -150px;
}

.hero__tab:nth-child(2) {
  transform: rotate(2deg);
  z-index: 2;
  margin-right: -90px;
  margin-bottom: -100px;
}

.hero__tab:nth-child(3) {
  transform: rotate(-2deg);
  z-index: 1;
  margin-top: -20px;
  margin-right: -230px;
}

.hero__tab:nth-child(4) {
  transform: rotate(4deg);
  z-index: 0;
  margin-left: 121px;
  margin-bottom: -100px;
}

.hero__tab:hover {
  transform: scale(1.05) rotate(0deg);
  transition: transform 0.3s ease, z-index 0.3s ease;
  z-index: 5; /* Текущий таб становится сверху */
}
